html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f6f7;
    color: #444444;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    overflow: hidden;
}

@supports(padding: env(safe-area-inset-left)) {
    body {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

input,textarea {
    outline: none;
}

/* スクロールバー */
.ribbon ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: default;
}

.editor-container ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    cursor: default;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: default;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #cccccc;
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: default;
}

::-webkit-scrollbar-button {
    display: none;
}

/* コンテンツ */
.app-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* ヘッダー */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    -webkit-user-select: none;
    user-select: none;
}

.header div {
    display: flex;
    align-items: center;
}

.header img{
    width: 1.5rem;
    height: 1.5rem;
    -webkit-touch-callout: none;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    margin-right: .5rem;
    gap: 1rem;
}

.app-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* エディタ */
.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    padding: .5rem 1rem 1rem  1rem;
    background-color: #ffffff;
    border-top: 1px solid #d8d8d8;
    overflow: auto;
    counter-reset: line-counter;
}

.line-editor{
    position: relative;
    display: flex;
    gap: 1rem;
    max-width: 750px;
    width: 100%;
}

.line-number{
    flex: 0 0 auto;
    margin-top: 1rem;
    font-size: 1.25rem;
    -webkit-user-select: none;
    user-select: none;
}

.line-number::before{
    counter-increment: line-counter;
    content: counter(line-counter) ")";
}

.editable-field {
    position: relative;
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem 1rem 0;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #d8d8d8 !important;
    border-radius: 0;
    outline: none;
    color: #444444;
    font-size: 1.75rem !important;
    box-shadow: none !important;
    overflow: auto;
    white-space: nowrap;
}

.editable-field:focus-within{
    border-bottom: 1px solid #6557d2 !important;
}

.editable-field .mq-root-block {
    min-width: 100%;
    width: fit-content !important;
    overflow: hidden !important;
}

.copy-button{
    position: absolute;
    right: 0;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.copy-button:hover{
    background-color: #e9eaeb;
}

.copy-button img{
    width: 1.5rem;
    height: 1.5rem;
    -webkit-touch-callout: none;
}

/* キーボード */
.keyboard{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    background-color: #f4f6f7;
    border-top: 1px solid #d8d8d8;
    -webkit-user-select: none;
    user-select: none;
}

.keyboard-switcher{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.switcher-tab-container{
    display: flex;
    gap: 8px;
    max-width: 750px;
    width: 100%;
    padding: 4px 8px;
}

.switcher-tab{
    position: relative;
    margin: 0;
    padding: 0 8px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #444444;
    font-size: 1.2rem;
    cursor: pointer;
}

.switcher-tab::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: transparent;
    border-radius: 2.5px;
}

.switcher-tab:hover::after{
    background-color: #c7c7c7;
}

.switcher-tab.selected::after{
    background-color: #6557d2;
}

.key-panel-container{
    width: 100%;
}

.key-panel{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
}

.key-panel.showed{
    display: flex;
}

.key-panel-row{
    display: flex;
    justify-content: center;
    max-width: 750px;
    width: 100%;
    padding: 0 8px;
}

.keyboard-button{
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: calc((100% - 4px * 10) / 10);
    height: 40px;
    margin: 2px;
    padding: 0;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #444444;
    font-size: 1.2rem;
    cursor: pointer !important;
}

.keyboard-button:active{
    background-color: #eef1f3;
}

.keyboard-button *{
    pointer-events: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}
.keyboard-button .mq-root-block{
    width: auto !important;
    font-size: 1.2rem !important;
}

.keyboard-button img{
    width: 1.6rem;
    height: 1.6rem;
    -webkit-touch-callout: none;
}

.keyboard-button.system{
    background-color: #dcdfe0;
    font-size: 1rem;
}

.keyboard-button.system:active{
    background-color: #cbd1d4;
}

.keyboard-button.stretch, .keyboard-margin.stretch{
    flex: 1 0 0;
}

.keyboard-button.small-font .mq-root-block{
    font-size: 1rem !important;
}

.keyboard-margin{
    width: 8px;
}

/* マスク */
.app-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}

.app-mask.app-mask-active {
    display: block;
}

/* ポップアップ */
.popup {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 220px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 5px;
    z-index: 3;
}

.popup.popup-show {
    display: block;
}

.popup-list {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0;
}

.popup-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 0 10px 0 25px;
    background-color: transparent;
    border-radius: 5px;
    color: #444444;
    font-size: 13px;
    cursor: pointer;
}

.popup-list-item:hover {
    background-color: #f0f0f0;
}
