html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  outline: none;
}

/* スクロールバー */
.ribbon ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: default;
}

.editor-container ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  cursor: default;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #cccccc;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: default;
}

::-webkit-scrollbar-button {
  display: none;
}

/* クロム */
.app-chrome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* ヘッダー */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  padding: 0 14px;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

/* ヘッダー左 */
.app-header-left-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.app-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 5px;
  gap: 14px;
  color: #242424;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
}

/* ヘッダー右 */
.app-header-right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.copy-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  gap: 10px;
  border: 1px solid #6557d2;
  border-radius: 30px;
  color: #6557d2;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 3;
}

/* コンテンツ */
.app-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* リボン */
.ribbon {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

.ribbon-tab-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36px;
  padding: 1px 0 6px 0;
  overflow-x: auto;
  box-sizing: border-box;
}

.ribbon-tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 11px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  border: none;
  box-sizing: border-box;
}

.ribbon-tab-label {
  color: #424242;
  font-weight: 400;
  white-space: nowrap;
}

.ribbon-tab:hover .ribbon-tab-label{
  color: #242424;
}

.ribbon-tab.tab-selected .ribbon-tab-label{
  color: #242424;
  font-weight: 600;
}

.ribbon-tab-border-container{
  position: absolute;
  bottom: 0;
  left: 11px;
  width: calc(100% - 22px);
  height: 2px;
  background-color: transparent;
  border-radius: 10000px;
  box-sizing: border-box;
}

.ribbon-tab:hover .ribbon-tab-border-container{
  background-color: #c7c7c7;
}

.ribbon-tab.tab-selected .ribbon-tab-border-container{
  background-color: #6557d2;
}

.ribbon-content-container {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.14);
  box-sizing: border-box;
}

.ribbon-content {
  display: none;
  flex-direction: row;
  width: calc(100% - 16px);
  height: calc(100% - 8px);
  margin: 4px 0;
  overflow-x: auto;
  box-sizing: border-box;
}

.ribbon-content.tab-show {
  display: flex;
}

.ribbon-content-group {
  display: flex;
  height: 100%;
  padding: 0 4px 0 8px;
  border-right: 1px solid #c8c6c4;
  box-sizing: border-box;
}

.ribbon-content-tool-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-right: 4px;
  box-sizing: border-box;
}

.ribbon-content-tool-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #444444;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  box-sizing: border-box;
}

.ribbon-content-tool-button:hover {
  background-color: #f5f5f5;
}

.ribbon-content-tool-button.normal {
  min-width: 40px;
  height: 40px;
}

.ribbon-content-tool-button.small {
  min-width: 25px;
  height: 25px;
}

.ribbon-content-tool-space {
  box-sizing: border-box;
}

.ribbon-content-tool-space.normal {
  min-width: 40px;
  height: 40px;
}

.ribbon-content-tool-space.small {
  min-width: 25px;
  height: 25px;
}

/* エディタ */
.editor-container{
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  padding: 19px 113px 0 113px;
  overflow: hidden;
  box-sizing: border-box;
}

#mq-editable-field {
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #ffffff;
  border-top: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-bottom: none;
  border-left: 1px solid #d1d1d1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #444444;
  font-size: 22px;
  box-shadow: none;
  box-sizing: border-box;
  overflow: auto;
  white-space: nowrap;
}

.mq-root-block {
  min-width: 100%;
  width: auto !important;
  overflow: auto;
}

/* フッター */
.footer{
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: 35px;
  padding: 0 12px;
  border-top: 1px solid #e1dfdd;
  box-sizing: border-box;
}

.latex-input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #424242;
  font-size: 16px;
  box-sizing: border-box;
}

/* マスク */
.app-mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 2;
}

.app-mask.app-mask-active{
  display: block;
}

/* コンテキストメニュー */
.context-menu{
  display: none;
  position: absolute;
  top: 35px;
  right: 10px;
  width: 220px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 3;
}

.context-menu.context-menu-show{
  display: block;
}

.context-menu-list{
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}

.context-menu-list-item{
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  padding: 0 10px 0 25px;
  background-color: transparent;
  border-radius: 5px;
  color: #444444;
  font-size: 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.context-menu-list-item:hover{
  background-color: #f0f0f0;
}
