html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  outline: none;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 14px;
  cursor: default;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #c9c9c9;
  border: 4px solid transparent;
  border-radius: 10px;
  cursor: default;
}

::-webkit-scrollbar-button {
  display: none;
}

/* クロム */
.app-chrome {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}